
{% extends "nav.html" %}
{% load static %}
{% block title %}
About
        {% endblock title %}
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    {% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.css' %}">

    <link rel="stylesheet" href="{% static 'css/landing_page.css' %}">

    <link rel="stylesheet" href="{% static 'css/owl-carousel.css' %}">

    <style>

        .lead{
         font-weight: 500;
         color: white;
       }
       .cover-heading{
           font-weight: 900;
           font-size: 4.5rem;
           color: white;
       }
       .btn-secondary{
         background-color: greenyellow;
         color:indigo;
       }
       .btn-secondary:hover{
         background-color: blueviolet;
       }
       .headingh2{
           font-weight: 900;
           color: white;
           font-size: 2.rem;
       }
       .headingh3{
           font-weight: 900;
           color: white;
           font-size: 2.rem;
       }   
       .lead2{
         font-weight: 500;
         color: white;
       }
       
       
       
       
           </style>
    {% endblock %}

    {% block body %}  
    <div class="container">
        <div class="row">
            <div class="text-center">
                <br><br><br><br><br><br>
                <h1 class="cover-heading text-center">Why <em>CTFPLAYz's</em> ? </h1>
                <p class="lead"><br><br>
                    CTFplayz's story has been about perseverance and
                    focus towards making users a better hacker by practising challenges. And this journey has been no walk in the park - we have had
                     our share of challenges and we know there are more to come in the future.  But CTFplayz real story is that 
                     of the people who run it. From the four college
                     friends who willed an idea to reality, to the people who put their faith into the aim of the startup and took it as their own, CTFplayz is many stories, of the people who make it.
                     Our story is continually changing, as the people at CTFplayz keep writing new ones, everyday.
                    <br><br><br><br>
                    <a href="#about" class="btn btn-lg btn-secondary">Learn more</a>
                  </p>
               </div>
          </div>
      </div>
        <!-- ***** Preloader Start ***** -->
        <div id="preloader">
            <div class="jumper">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
        <!-- ***** Features Big Item Start ***** -->
        <section class="section" id="about">
            <div class="text-center">
                <div class="headingh2"><h2>Our Valuable <em> Assets of Site </em></h2><br><br></div>
            </div>
            <div class="container">
                <div class="row">
                    
                    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12"
                        data-scroll-reveal="enter left move 30px over 0.4s after 0.2s">
                        <div class="features-item">
                            <div class="features-icon">
                                <h2>01</h2>
                                <img src="{% static 'images/features-icon-1.png' %}" alt="">
                                <h4>Beginner Friendly </h4>
                                <p>Learning Things is made easier from lower lowel challenges to expert level challenges </p>
        
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12"
                        data-scroll-reveal="enter bottom move 30px over 0.6s after 0.4s">
                        <div class="features-item">
                            <div class="features-icon">
                                <h2>02</h2>
                                <img src="{% static 'images/features-icon-2.png' %}" alt="">
                                <h4>Expert Challenges</h4>
                                <p>All level of challenges are included from easiest to toughest Category to Discover goto challenges </p>
                                <a href="/cryptography" class="main-button btn btn-lg btn-secondary" id="aboutsa">
                                    Discover More
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12"
                        data-scroll-reveal="enter right move 30px over 0.6s after 0.4s">
                        <div class="features-item">
                            <div class="features-icon">
                                <h2>03</h2>
                                <img src="{% static 'images/features-icon-3.png' %}" alt="">
                                <h4>Detailed Solution</h4>
                                <p> Detailed solution along with group discussion for every Challenges you get </p>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ***** Features Big Item End ***** -->
    
        <div class="left-image-decor"></div>
    
        
    
        <div class="right-image-decor"></div>
    
        <!-- ***** Testimonials stating ***** -->
        <section class="section" id="testimonials">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 offset-lg-2">
                        <div class="text-center">
                            <div class="headingh3"><h2>Our User Experience <em>About Us</em></h2></div><br><br>
                            <div class="lead2"> <p style="color: greenyellow;">Our <em>Users</em> are the great assets for our site 
                                since they tell us about there experience with the application and their
                                 level of Problems they have got used too.  </p><br>
                            </div>
                        </div>
                    </div><!-- you have  to edit this using django framework  -->
                    <div class="col-lg-10 col-md-12 col-sm-12 mobile-bottom-fix-big"
                        data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                        <div class="owl-carousel owl-theme">
                            {% for objects in testimonial_object %}
                                <div class="item service-item">
                                <div class="author">
                                    <i><img src="{% static 'images/testimonial-author-1.png' %}" alt="Author One"></i>
                                </div>
                                <div class="testimonial-content">
                                    <ul class="stars">
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                    </ul>
                                   
                                    <h4>{{objects.Name}}</h4>
                                    <p>“{{objects.Rating_views}}”</p>
                                    <span>{{objects.User_post}}</span>
                                </div>
                                </div>
                            {% endfor %}
                            
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ***** ENDING OF TESTONIMIAL  ***** -->
        
    
    <!-- Team -->
    <section id="team" class="pb-5" >
        <div  style="background-image: linear-gradient(black,white);">
            <h5 class="section-title h1" style="color: greenyellow;">OUR TEAM</h5>
            <div class="row">
                <!-- Team member -->
                <div class="col-lg-3 col-xs-12 col-sm-6 col-md-4">
                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                        <div class="mainflip">
                            <div class="frontside">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <p><img class=" img-fluid" src="{% static 'images/1.png' %}" alt="card image"></p>
                                        <h4 class="card-title">Prashant</h4>
                                        <p class="card-text">Frontend Development , Database handling</p>
                                        <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="backside">
                                <div class="card">
                                    <div class="card-body text-center mt-4">
                                        <h4 class="card-title">prashant</h4>
                                        <p class="card-text">Work in progress</p>
                                        <ul class="list-inline">
                                            <li class="list-inline-item">
                                                <a class="social-icon text-xs-center" target="_blank" href="#">
                                                    <i class="fa fa-facebook"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a class="social-icon text-xs-center" target="_blank" href="#">
                                                    <i class="fa fa-twitter"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a class="social-icon text-xs-center" target="_blank" href="#">
                                                    <i class="fa fa-skype"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a class="social-icon text-xs-center" target="_blank" href="#">
                                                    <i class="fa fa-google"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ./Team member -->
                <!-- Team member -->
                <div class="col-lg-3 col-xs-12 col-sm-6 col-md-4">
                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                        <div class="mainflip">
                            <div class="frontside">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <p><img class=" img-fluid" src="{% static 'images/1.png' %}" alt="card image"></p>
                                        <h4 class="card-title">Deepansh</h4>
                                        <p class="card-text">Frontend-development and Database handling</p>
                                        <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="backside">
                                <div class="card">
                                    <div class="card-body text-center mt-4">
                                        <h4 class="card-title">Deepansh</h4>
                                        <p class="card-text">Work in progres</p>
                                        <ul class="list-inline">
                                            <li class="list-inline-item">
                                                <a class="social-icon text-xs-center" target="_blank" href="#">
                                                    <i class="fa fa-facebook"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a class="social-icon text-xs-center" target="_blank" href="#">
                                                    <i class="fa fa-twitter"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a class="social-icon text-xs-center" target="_blank" href="#">
                                                    <i class="fa fa-skype"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a class="social-icon text-xs-center" target="_blank" href="#">
                                                    <i class="fa fa-google"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ./Team member -->
                <!-- Team member -->
                <div class=" col-lg-3 col-xs-12 col-sm-6 col-md-4">
                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                        <div class="mainflip">
                            <div class="frontside">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <p><img class=" img-fluid" src="{% static 'images/1.png' %}" alt="card image"></p>
                                        <h4 class="card-title">Shubham</h4>
                                        <p class="card-text">Backend -development and Frontend development</p>
                                        <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="backside">
                                <div class="card">
                                    <div class="card-body text-center mt-4">
                                        <h4 class="card-title">Shubham</h4>
                                        <p class="card-text">Work in progres</p>
                                        <ul class="list-inline">
                                            <li class="list-inline-item">
                                                <a class="social-icon text-xs-center" target="_blank" href="#">
                                                    <i class="fa fa-facebook"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a class="social-icon text-xs-center" target="_blank" href="#">
                                                    <i class="fa fa-twitter"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a class="social-icon text-xs-center" target="_blank" href="#">
                                                    <i class="fa fa-skype"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a class="social-icon text-xs-center" target="_blank" href="#">
                                                    <i class="fa fa-google"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ./Team member -->
                <!-- Team member -->
                <div class="col-lg-3 col-xs-12 col-sm-6 col-md-4">
                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                        <div class="mainflip">
                            <div class="frontside">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <p><img class=" img-fluid" src="{% static 'images/1.png' %}" alt="card image"></p>
                                        <h4 class="card-title">Sannyam</h4>
                                        <p class="card-text">Frontend-development Backend-development</p>
                                        <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="backside">
                                <div class="card">
                                    <div class="card-body text-center mt-4">
                                        <h4 class="card-title">Sannyam</h4>
                                        <p class="card-text">Work in progress</p>
                                        <ul class="list-inline">
                                            <li class="list-inline-item">
                                                <a class="social-icon text-xs-center" target="_blank" href="#">
                                                    <i class="fa fa-facebook"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a class="social-icon text-xs-center" target="_blank" href="#">
                                                    <i class="fa fa-twitter"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a class="social-icon text-xs-center" target="_blank" href="#">
                                                    <i class="fa fa-skype"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a class="social-icon text-xs-center" target="_blank" href="#">
                                                    <i class="fa fa-google"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ./Team member -->
                
    
            </div>
        </div>
    </section>
    <!-- Team -->
    
        <!-- *****  StarINg of footer ***** -->
        <footer id="contact-us">
            <div class="container">
                <div class="footer-content">
                    <div class="row">
                        <!-- ***** Contact Form startinf code ***** -->
                        <div class="col-lg-6 col-md-12 col-sm-12">
                            <div class="contact-form">
                                <form id="contact" action="" method="post">
                                    {% csrf_token %}
                                    <div class="row">
                                        <strong class="text-center" style="color:darkblue">
                                            {% if messages %}
                                            {% for messages in messages %}
                                                <center>{{messages}}</center>
                                            {% endfor %}
                                        {% endif %}  
                                        </strong>
                                        <div class="col-md-6 col-sm-12">
                                            <fieldset>Username
                                                <input name="name" type="text" id="name" placeholder="Full Name" required="" readonly
                                                    value="{{user.username}}" style="background-color: rgba(250,250,250,0.3);">
                                            </fieldset>
                                        </div>
                                        <div class="col-md-6 col-sm-12">
                                            <fieldset>Email
                                                <input name="email" type="text" id="email" placeholder="Valid E-Mail Address"
                                                   readonly value="{{user.email}}" required="" style="background-color: rgba(250,250,250,0.3);">
                                            </fieldset>
                                        </div>
                                        <div class="col-lg-12">
                                            <fieldset>
                                                <textarea name="message" rows="6" id="message" placeholder=" Message  Box"
                                                  minlength="20"  required="" style="background-color: rgba(250,250,250,0.3);"></textarea>
                                            </fieldset>
                                        </div>
                                        <div class="col-lg-12">
                                            <fieldset>
                                                <button type="submit" id="form-submit" class="main-button btn btn-lg btn-secondary" > Message
                                                    Now</button>
                                            </fieldset>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        
                    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
                    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
                        <!-- ***** Contact Form End ***** -->
                        <div class="right-content col-lg-6 col-md-12 col-sm-12">
                            <h2>More About <em>{{appname}}</em></h2>
                            <p>CTFplayz real story is that of the people who run it. From the four college friends who willed an idea to reality,
                                 to the people who put their faith into the aim of the startup and took it as their own, CTFplayz is many stories,
                                 of the people who make it. Our story is continually changing, as the people at CTFplayz keep writing new ones,
                                  everyday.
                                <br><br>If you need this contact form to send email to your inbox, you may follow our <a
                                    rel="nofollow" href=""" target="_parent">contact</a> page
                                for more detail.</p>
                          
                        </div>
                    </div>
                </div>
               
                
            </div>
        </footer>
    
        <!-- jQuery -->
        <script src="{% static 'js/jquery-2.1.0.min.js' %}"></script>
    
        <!-- Bootstrap -->
        <script src="{% static 'js/popper.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
    
        <!-- Plugins -->
        <script src="{% static 'js/owl-carousel.js' %}"></script>
        <script src="{% static 'js/scrollreveal.min.js' %}"></script>
        <script src="{% static 'js/waypoints.min.js' %}"></script>
        <script src="{% static 'js/jquery.counterup.min.js' %}"></script>
        <script src="{% static 'js/imgfix.min.js' %}"></script>
    
        <!-- Global Init -->
        <script src="{% static 'js/custom.js' %}"></script>
    
    {% endblock body %}
  
